<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BaseOfStudent.Properties.Settings.Students_UniversityConnectionString"
            connectionString="Data Source=DESKTOP-CMTPCEB\MSSQLSERV;Initial Catalog=Students_University;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>